.kebabIcon {
  width: 20px !important;
  height: 20px !important;
}

.kebabIcon svg {
  width: 18px;
  height: 18px;
}

.icons {
  width: 24px;
  height: 24px;
  margin: 0px;
}

.icons:hover {
  /* margin: 8px 12px 8px 8px; */
  /* padding-left: 5px;
    padding-bottom: 5px;
    width: 24px;
    height: 24px; */
  /* margin: 8px 12px 8px 8px; */
  border-radius: 4px;
  background-color: #e9f5ff;
}
